/**
 * default 12 column grid container
 */
.container {
	width: 100%;
  //padding: 10px;
  overflow: auto;
}

/**
 * default row containers utilising flexbox
 */
.row {
	position: relative;
	//display: flex;
	//justify-content: space-around;
}

[class*="col"] {
  position: relative;  
  float: left;
  padding: 4px;
  margin: 4px;
}

.col1 {
  //width: 8.33%;
  width: 7%;
}

.col2 {
  //width: 16.66%;
  width: 15%;
}

.col3 {
  width: 25%;
  //width: 24%;
  //width: 23%;
}

.col4 {
  //width: 33.33%;
  width: 32%;
}

.col5 {
  //widows: th: 41.66%;
  width: 40%;
}

.col6 {
  //width: 50%;
  width: 48%;
}

.col7 {
  //width: 58.33%;
  width: 57%;
}

.col8 {
  //width: 66.66%;
  width: 65%;
}

.col9 {
  //width: 75%;
  width: 73%;
}

.col10 {
  //width: 83.33%;
  width: 82%;
}

.col11 {
  //width: 91.66%;
  width: 90%;
}

.col12 {
  //width: 100%;
  width: 98%;
}








