.infocard {
	position: relative;
	//top: -0.125px;
	width: 100%;
	//height: auto;
	border: 3px solid violet;
	//display: flexbox;
	//flex-flow: column wrap;
	//transform: scale(0.85);
	margin: 0;
	padding: 0;
}

.infocard-media {
	//width: 100%;
	//height: auto;
	border: 1px solid green;
	img {
		max-width: 100%;
		height: auto;
		vertical-align: middle;
	}
}

.infocard-body {
	//width: 100%;
	//height: auto;
	border: 1px solid blue;

}

.infocard-title {
	//font-size: 75%;
	margin: 0;
	//transform: scale(0.75);
	//line-height: 1;
}

.infocard-desc {
	//font-size: 80%;
	margin: 0;
	//transform: scale(0.75);
	//line-height: 1;

}
