.bc-tooltip {
  position: relative;
  display: inline-block;
  border-top: 1px transparent;
  /*border-bottom: 1px dashed;*/
  margin: 0 5px 0 8px;
  color: #ff9948;
  border: 1px solid;
}

.bc-tooltip .bc-tooltiptext {
 	visibility: hidden;
  width: 320px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  /*bottom: 115%;*/
  bottom: 125%;
  left: -60%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.bc-tooltip .bc-tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.bc-tooltip:hover .bc-tooltiptext {
  visibility: visible;
  opacity: 1;
}

.bc-tooltip .bc-tooltiptext {
	left: -17px;
	width: 180px;
}