/**
 * reset box-sizing to border box for all element 
 */
html, *, * ::before, * ::after {
  box-sizing: border-box;
}

/**
 * TYPOGRAPHY
 */
/* Body Text */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Karla", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  /*  -apple-system,
    BlinkMacSystemFont,
    "Karla",
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    Arial,
    sans-serif;*/
  font-size: 130%;
  line-height: 1.5;
  background-color: white;
  color: #34383c;
  margin: 0;
}

/* Vertical Rhythm */
blockquote,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
menu,
ol,
p,
pre,
summary,
table,
ul {
  margin-bottom: 24px;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.2;
  color: #1e2226;
  margin-top: 32px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

/* Paragraphs */
p {
  margin-top: 0;
}

/* Lists */
dl dt {
  font-weight: 700;
  color: #34383c;
}

dl dd {
  margin: 0;
}

ol,
ul {
  padding: 0;
}

ol li,
ul li {
  margin-left: 18px;
}

ol {
  list-style-: decimal;
}

ol ol {
  list-style: upper-alpha;
}

ol ol ol {
  list-style: lower-roman;
}

ol ol ol ol {
  list-style: lower-alpha;
}

ol ol,
ul ul {
  margin-bottom: 0;
}

/* Inline Elements */
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: #ff9948;
}

a:hover {
  text-decoration: none;
}

a:active,
a:hover {
  outline-width: 0;
}

/* Horizontal Rules */
hr {
  display: block;
  padding: 0;
  border: 0;
  border-top: 2px solid #f2f5fa;
  margin-top: 32px;
}

/* Preformatted Text */
code,
kbd,
pre,
samp {
  font-family: Monaco, Consolas, "Liberation Mono", Courier, monospace;
  font-size: 14px;
  font-weight: 400;
  background-color: #f2f5fa;
  border: 1px solid #c3ced9;
  border-radius: 4px;
}

code,
kbd,
samp {
  white-space: nowrap;
  padding: 1px 8px;
  margin: 0;
}

pre {
  position: relative;
  overflow: auto;
  white-space: pre;
  word-wrap: normal;
  word-break: normal;
  tab-size: 4;
  hyphens: none;
  border-radius: 4px;
  padding: 24px;
  margin-top: 0;
}

pre code {
  display: block;
  overflow: auto;
  height: 100%;
  margin: 0;
  padding: 0;
  white-space: pre;
  color: inherit;
  border: none;
  border-radius: 0;
  background: transparent;
}

input[type=text],
input[type=email],
input[type=tel],
textarea,
select {
  background-color: white;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
}

span {
  font-family: inherit;
  font-size: inherit;
}

q,
blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

.font-size-120 {
  font-size: 120%;
}

.font-size-150 {
  font-size: 150%;
}

.font-size-180 {
  font-size: 180%;
}

.centered {
  text-align: center;
}

.italized {
  font-style: italic;
}

/**
 * site header style
 */
.site-header {
  background-color: #34383c;
  -web-kit-border: 2px solid #34383c;
  -moz-border: 2px solid #34383c;
  -ms-border: 2px solid #34383c;
  border: 2px solid #34383c;
}

.header-logo h1 {
  margin: 0.25em 0.25em;
  color: #51d0ef;
}
.header-logo span {
  color: white;
}

/**
 * site footer style
 */
.site-footer {
  background-color: #48bfdc;
  -web-kit-border: 2px solid #48bfdc;
  -moz-border: 2px solid #48bfdc;
  -ms-border: 2px solid #48bfdc;
  border: 2px solid #48bfdc;
  text-align: center;
}

/**
 * default 12 column grid container
 */
.container {
  width: 100%;
  overflow: auto;
}

/**
 * default row containers utilising flexbox
 */
.row {
  position: relative;
}

[class*="col"] {
  position: relative;
  float: left;
  padding: 4px;
  margin: 4px;
}

.col1 {
  width: 7%;
}

.col2 {
  width: 15%;
}

.col3 {
  width: 25%;
}

.col4 {
  width: 32%;
}

.col5 {
  width: 40%;
}

.col6 {
  width: 48%;
}

.col7 {
  width: 57%;
}

.col8 {
  width: 65%;
}

.col9 {
  width: 73%;
}

.col10 {
  width: 82%;
}

.col11 {
  width: 90%;
}

.col12 {
  width: 98%;
}

/**
 * add varying shade of colors to the different section of the page
 */
.about-section {
  background-color: white;
  border: 2px solid white;
}

/**
 * section-title
 */
.section-title {
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 0;
}

/**
 * article-title
 */
.article-title {
  font-size: 190%;
  font-weight: 800;
}

/**
 * article-subtitle
 */
.article-subtitle {
  color: #838383;
}

/**
 * about-section media style
 */
.media {
  width: 280px;
  height: auto;
  margin: auto;
  padding: auto;
  margin-left: 15px;
}

.projects-section {
  background-color: #a3f5f8;
  border: 2px solid #a3f5f8;
}

.skills-section {
  background-color: #999999;
  border: 2px solid #999999;
}

.contact-section {
  background-color: #ededed;
  border: 2px solid #ededed;
}

/**
 * NonJS Accordion UI Component
 */
/* select the input element */
div.accordionComponent input {
  display: none;
}

/* select the label element */
div.accordionComponent label {
  display: block;
  background: brown;
  width: 500px;
  margin-bottom: 2px;
  padding: 2px 0 2px 0;
  color: lightgreen;
}

/* select the accordion's content */
div.accordionContent {
  display: none;
}

/* when check, select the next sibling  */
div.accordionComponent input:first-of-type:checked ~ div.accordionContent:first-of-type,
div.accordionComponent input:nth-of-type(2):checked ~ div.accordionContent:nth-of-type(2),
div.accordionComponent input:nth-of-type(3):checked ~ div.accordionContent:nth-of-type(3),
div.accordionComponent input:nth-of-type(4):checked ~ div.accordionContent:nth-of-type(4) {
  display: block;
  background: lightblue;
  width: 498px;
  border: 1px solid;
}

.accordion {
  background: brown;
  width: 500px;
  margin-bottom: 2px;
  padding: 10px;
  color: lightgreen;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

div.panel {
  margin: 0;
  background: lightblue;
  width: 498px;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s ease-out;
}

.menu {
  background-color: beige;
  padding: 5px 5px 5px 5px;
}

.menu li {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
}

.menu li.dropdown:hover > .submenu {
  display: block;
}

.menu li a {
  background: #D61F57;
  color: white;
  display: block;
  padding: 12px 8px;
  text-decoration: none;
}

.menu li a:hover {
  background: black;
}

.menu .submenu {
  display: none;
}

.submenu {
  display: block;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 200px;
}

.submenu li {
  display: block;
}

.submenu li a {
  background: #999;
  color: #fff;
  display: block;
  margin-bottom: 1px;
  padding: 8px 6px;
}

.menu .submenu .submenu {
  left: 200px;
  position: absolute;
  top: 0;
}

/**
 * flipnav components
 */
.flipnav-list {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f3f5f8;
}

.flipnav-item {
  display: inline-block;
  margin-left: 0;
}

.flipnav-link {
  position: relative;
  display: block;
  text-decoration: none;
  color: #acb6bf;
  line-height: 1;
  padding: 12px 20px;
  overflow: visible;
  perspective: 200px;
  transition: transform .05s ease;
}

.flipnav-cube {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: all 0.333s ease-out;
  transform: translatez(-20px);
  transform-style: preserve-3d;
}

.flipnav-link:hover .flipnav-cube,
.flipnav-link:focus .flipnav-cube {
  transform: translateZ(-20px) rotateX(90deg);
}

.flipnav-front,
.flipnav-back {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #f3f5f8;
  padding: 12px 20px;
  color: #acb6bf;
  pointer-events: none;
  box-sizing: border-box;
}

.flipnav-front {
  transform: rotatex(0deg) translatez(20px);
}

.flipnav-back {
  transform: rotatex(-90deg) translatez(20px);
  color: #34383c;
}

/**
 * non js image gallery ui component
 */
.gal {
  display: flex;
  position: relative;
  width: 100%;
}

.galThumbnail {
  width: 100%;
}

.galImgToggle {
  display: none;
}

.galImgThumbnail {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  opacity: 0.5;
  transition: opacity 1.5s ease-in-out;
}

.galImgThumbnail img {
  width: 100%;
  height: 100%;
  border: 5px solid;
}

.galImage {
  position: absolute;
  width: 100%;
  opacity: 0;
  left: 0;
  transition: opacity 1.5s ease-in-out;
  overflow: hidden;
}

.galImage img {
  width: 100%;
  max-height: 500px;
}

.galImgToggle:checked + .galImgThumbnail {
  opacity: 1;
}

.galImgToggle:checked ~ .galImage {
  opacity: 1;
}

/**
 * Image Gallery UI Component with JavaScript
 */
.galJS {
  display: flex;
  position: relative;
}

.galThumbnailJS {
  width: 100%;
}

.galImgThumbnailJS {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  opacity: 0.5;
  transition: opacity 1.5s ease-in-out;
}

.galImgThumbnailJS img {
  width: 100%;
  height: 100%;
  border: 5px solid;
}

.galImageJS {
  position: absolute;
  opacity: 0.5;
  left: 0;
  max-height: 450px;
  transition: opacity 1.5s ease-in-out;
  overflow: hidden;
}

.galImageJS img {
  width: 100%;
}

.gal-img--active {
  opacity: 1;
}

/**
 * Non JS Tab UI Component
 */
.tabpanel {
  display: block;
  position: relative;
  width: 132%;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #58616b;
}

.tabpanel:after {
  content: '';
  display: block;
  clear: both;
}

.tabpanel-input {
  display: none;
}

.tabpanel-label {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 12px 0;
  margin: 0 24px;
  border-bottom: 2px solid #ffffff;
  user-select: none;
  transition: color 0.5s ease, border-color 0.5s ease;
}

.tabpanel-input:first-of-type:checked ~ .tabpanel-nav .tabpanel-label:first-of-type,
.tabpanel-input:nth-of-type(2):checked ~ .tabpanel-nav .tabpanel-label:nth-of-type(2),
.tabpanel-input:nth-of-type(3):checked ~ .tabpanel-nav .tabpanel-label:nth-of-type(3),
.tabpanel-input:nth-of-type(4):checked ~ .tabpanel-nav .tabpanel-label:nth-of-type(4),
.tabpanel-input:nth-of-type(5):checked ~ .tabpanel-nav .tabpanel-label:nth-of-type(5),
.tabpanel-input:nth-of-type(6):checked ~ .tabpanel-nav .tabpanel-label:nth-of-type(6),
.tabpanel-input:nth-of-type(7):checked ~ .tabpanel-nav .tabpanel-label:nth-of-type(7),
.tabpanel-input:nth-of-type(8):checked ~ .tabpanel-nav .tabpanel-label:nth-of-type(8),
.tabpanel-input:nth-of-type(9):checked ~ .tabpanel-nav .tabpanel-label:nth-of-type(9),
.tabpanel-input:nth-of-type(10):checked ~ .tabpanel-nav .tabpanel-label:nth-of-type(10) {
  border-bottom-color: #51d0ef;
  color: #34383c;
}

.tabpanel-item {
  display: none;
  clear: left;
  padding: 24px;
  border: 1px solid #dce8fa;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.tabpanel-input:first-of-type:checked ~ .tabpanel-list .tabpanel-item:first-of-type,
.tabpanel-input:nth-of-type(2):checked ~ .tabpanel-list .tabpanel-item:nth-of-type(2),
.tabpanel-input:nth-of-type(3):checked ~ .tabpanel-list .tabpanel-item:nth-of-type(3),
.tabpanel-input:nth-of-type(4):checked ~ .tabpanel-list .tabpanel-item:nth-of-type(4),
.tabpanel-input:nth-of-type(5):checked ~ .tabpanel-list .tabpanel-item:nth-of-type(5),
.tabpanel-input:nth-of-type(6):checked ~ .tabpanel-list .tabpanel-item:nth-of-type(6),
.tabpanel-input:nth-of-type(7):checked ~ .tabpanel-list .tabpanel-item:nth-of-type(7),
.tabpanel-input:nth-of-type(8):checked ~ .tabpanel-list .tabpanel-item:nth-of-type(8),
.tabpanel-input:nth-of-type(9):checked ~ .tabpanel-list .tabpanel-item:nth-of-type(9),
.tabpanel-input:nth-of-type(10):checked ~ .tabpanel-list .tabpanel-item:nth-of-type(10) {
  display: block;
}

.tabpanel-desc {
  margin-top: 0;
  margin-bottom: 16px;
}

/* Default Alternative */
.tabpanel-alt .tabpanel-label {
  position: relative;
  top: 1px;
  margin-top: -1px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #f3f5f8;
  border-radius: 4px 4px 0 0;
  background-color: #f3f5f8;
  transition: color 0.5s ease;
}

.tabpanel-alt .tabpanel-label:hover {
  color: #34383c;
}

.tabpanel-alt .tabpanel-input:first-of-type:checked ~ .tabpanel-nav .tabpanel-label:first-of-type,
.tabpanel-alt .tabpanel-input:nth-of-type(2):checked ~ .tabpanel-nav .tabpanel-label:nth-of-type(2),
.tabpanel-alt .tabpanel-input:nth-of-type(3):checked ~ .tabpanel-nav .tabpanel-label:nth-of-type(3),
.tabpanel-alt .tabpanel-input:nth-of-type(4):checked ~ .tabpanel-nav .tabpanel-label:nth-of-type(4),
.tabpanel-alt .tabpanel-input:nth-of-type(5):checked ~ .tabpanel-nav .tabpanel-label:nth-of-type(5),
.tabpanel-alt .tabpanel-input:nth-of-type(6):checked ~ .tabpanel-nav .tabpanel-label:nth-of-type(6),
.tabpanel-alt .tabpanel-input:nth-of-type(7):checked ~ .tabpanel-nav .tabpanel-label:nth-of-type(7),
.tabpanel-alt .tabpanel-input:nth-of-type(8):checked ~ .tabpanel-nav .tabpanel-label:nth-of-type(8),
.tabpanel-alt .tabpanel-input:nth-of-type(9):checked ~ .tabpanel-nav .tabpanel-label:nth-of-type(9),
.tabpanel-alt .tabpanel-input:nth-of-type(10):checked ~ .tabpanel-nav .tabpanel-label:nth-of-type(10) {
  z-index: 2;
  color: #51d0ef;
  border-color: #dce8fa;
  border-bottom-color: #ffffff;
  background-color: #ffffff;
}

.tabpanel-alt .tabpanel-item {
  position: relative;
  z-index: 1;
  border-radius: 0 4px 4px 4px;
}

/* Vertical Alternative */
.tabpanel-vertical .tabpanel-nav {
  float: left;
  width: 33.333%;
  box-sizing: border-box;
}

.tabpanel-vertical .tabpanel-label {
  position: relative;
  left: 2px;
  display: block;
  padding: 12px 24px;
  margin: 0;
  text-align: right;
  border-bottom: 0;
  border-radius: 4px 0 0 4px;
  background-color: #f3f5f8;
  border: 1px solid #f3f5f8;
  margin-bottom: 8px;
  transition: color 0.5s ease;
  margin-left: -2px;
}

.tabpanel-vertical .tabpanel-label:hover {
  color: #34383c;
}

.tabpanel-vertical .tabpanel-input:first-of-type:checked ~ .tabpanel-nav .tabpanel-label:first-of-type,
.tabpanel-vertical .tabpanel-input:nth-of-type(2):checked ~ .tabpanel-nav .tabpanel-label:nth-of-type(2),
.tabpanel-vertical .tabpanel-input:nth-of-type(3):checked ~ .tabpanel-nav .tabpanel-label:nth-of-type(3),
.tabpanel-vertical .tabpanel-input:nth-of-type(4):checked ~ .tabpanel-nav .tabpanel-label:nth-of-type(4),
.tabpanel-vertical .tabpanel-input:nth-of-type(5):checked ~ .tabpanel-nav .tabpanel-label:nth-of-type(5),
.tabpanel-vertical .tabpanel-input:nth-of-type(6):checked ~ .tabpanel-nav .tabpanel-label:nth-of-type(6),
.tabpanel-vertical .tabpanel-input:nth-of-type(7):checked ~ .tabpanel-nav .tabpanel-label:nth-of-type(7),
.tabpanel-vertical .tabpanel-input:nth-of-type(8):checked ~ .tabpanel-nav .tabpanel-label:nth-of-type(8),
.tabpanel-vertical .tabpanel-input:nth-of-type(9):checked ~ .tabpanel-nav .tabpanel-label:nth-of-type(9),
.tabpanel-vertical .tabpanel-input:nth-of-type(10):checked ~ .tabpanel-nav .tabpanel-label:nth-of-type(10) {
  z-index: 2;
  color: #51d0ef;
  border-color: #dce8fa;
  border-right-color: #ffffff;
  background-color: #ffffff;
}

.tabpanel-vertical .tabpanel-list {
  float: right;
  width: 66.666%;
  box-sizing: border-box;
}

.tabpanel-vertical .tabpanel-item {
  position: relative;
  z-index: 1;
  border-radius: 0 4px 4px 4px;
  height: 280px;
}

* {
  box-sizing: border-box;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}

.calculator {
  margin: auto;
  margin-top: -79px;
  border: 1px solid #e1332d;
  display: flex;
  flex-direction: column;
  /*width: 320px;*/
  /*max-height: 300px;*/
  width: 345px;
  height: 425px;
  padding: 1em;
  background-color: #e1332d;
  border-radius: 0.95em;
  transform: scale(0.56);
  z-index: 10;
}

.calculator-display {
  width: 100%;
  margin: 3px;
}

.calculator-panel {
  flex: 1;
  /*border: 1px solid;*/
  display: flex;
  flex-direction: row;
  /*text-align: center;*/
  margin: 1px;
  /*align-items: space-between;*/
  justify-content: center;
  color: rgba(255, 255, 255, 0.95);
}

.calculator-button {
  flex: 1;
  /*border: 1px solid;*/
  margin: 3px;
  padding: 10px;
  /*align-self: space-around;*/
  background-color: black;
  width: 100%;
  height: auto;
  text-align: center;
  align-self: baseline;
  font-size: 20px;
  color: white;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.95);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 950ms cubic-bezier(0.19, 1, 0.9, 1);
}

.calculator-button:hover {
  background-color: silver;
  color: blue;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.75), 0 0 20px rgba(255, 255, 255, 0.75);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px blue;
}

.arithmetic-symbol {
  font-size: 24px;
  padding-top: 5px;
  padding-bottom: 9px;
}

.calculator-title {
  margin: 1px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.95);
  letter-spacing: 14px;
  padding-left: 14px;
  line-height: 1.95;
}

.calculator-form-input {
  text-align: right;
  font-size: 18px;
  line-height: 1.95;
  outline-color: rgba(255, 255, 255, 0.95);
  outline-color: white;
  color: black;
  border: 1px solid rgba(255, 255, 255, 0.95);
}

@media (max-width: 2060px) {
  .calculator-button {
    padding: 5px;
    font-size: 20px;
  }
}
.product-listing:after {
  border: 1px solid red;
  padding: 10px;
  clear: both;
}

.page-section-title {
  margin-top: 0;
  margin-bottom: 12px;
}

.product-list, .product-in-cart {
  display: inline-block;
}

.product-list {
  background-color: #f3f2f2;
  padding: 10px 10px;
  height: 535px;
  overflow-y: scroll;
}

.product-item-card {
  background-color: #fff;
  width: 224px;
  border: 1px solid;
  border-radius: 4px;
  padding: 7px;
}

.product-item-img {
  width: 100%;
}

.product-item-name {
  margin: 5px auto;
  background-color: lime;
  overflow: hidden;
  height: 48px;
}

.product-item-price {
  margin: 5px auto;
  color: maroon;
}

.product-item-desc {
  margin: 5px auto;
  background-color: #eee;
  overflow: hidden;
  height: 96px;
}

.product-item-added-checker {
  color: green;
  font-size: 60%;
  text-align: center;
  margin-bottom: 0;
  opacity: 0;
}

.checker--active {
  opacity: 1;
}

.product-item-read-more-btn {
  font-size: 80%;
  text-decoration: none;
}

.product-item-read-more-btn:hover {
  color: black;
}

.product-item-add-to-cart-btn {
  font-size: 80%;
  border: 1px solid;
  border-radius: 4px;
  text-decoration: none;
  padding: 5px;
}

.product-item-add-to-cart-btn:hover {
  color: black;
}

.product-item-added {
  color: green;
  background-color: yellow;
  opacity: 0.5;
}

.product-in-cart {
  background-color: #f3f2f2;
  width: 346px;
  height: 535px;
  border: 1px solid;
  border-radius: 4px;
}

.product-in-cart-header {
  min-width: 320px;
  margin: 5px 0;
  border: 1px solid;
  border-radius: 4px;
}

.item-selected-headings, .item-qty-headings, .item-price-headings {
  display: inline-block;
  padding: 5px;
  margin: 1px;
  font-size: 65%;
  text-transform: uppercase;
  text-align: center;
}

.item-selected-headings {
  width: 200px;
}

.item-qty-headings {
  width: 50px;
}

.item-price-headings {
  width: 50px;
}

.product-in-cart-list {
  min-width: 320px;
  height: 260px;
  margin: 5px 0;
  border: 1px solid;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  overflow-y: scroll;
}

.product-in-cart-item {
  min-width: 310px;
}

.item-in-cart-summary, .item-in-cart-qty, .item-in-cart-price, .item-in-cart-edited-price {
  display: inline-block;
  vertical-align: top;
  padding: 5px;
  margin: 1px;
  font-size: 65%;
}

.item-in-cart-summary {
  width: 200px;
  border: 1px solid;
  border-radius: 4px;
}

.item-in-cart-qty {
  width: 50px;
}

.item-in-cart-price {
  width: 50px;
  padding: 7px 0;
  text-align: right;
  display: none;
}

.item-in-cart-edited-price {
  width: 50px;
  padding: 7px 0;
  text-align: right;
}

.item-in-cart-img {
  width: 50px;
}

.item-in-cart-img, .item-in-cart-desc-wrapper {
  display: inline-block;
  margin: 3px 0;
  vertical-align: top;
}

.item-in-cart-name, .item-in-cart-desc {
  width: 130px;
  height: 30px;
  font-size: 100%;
  line-height: 1.5;
  margin-bottom: 3px;
  padding: 4px;
  overflow: hidden;
}

.promo-code-wrapper {
  width: 180px;
  height: 80px;
  border: 1px solid;
  border-radius: 4px;
}

.promo-code-q {
  margin: 5px 3px;
  font-size: 75%;
  display: none;
}

/*
.promo-code-link {
	margin: 5px 0;
	text-decoration: none;
	text-transform: uppercase;
}*/
.shopping-cart-checkout-wrapper {
  margin: 5px 0;
  padding: 15px 0;
  text-align: center;
}

/*
.promo-code-link:hover {
	color: black;
}*/
.promocode-form-wrapper {
  width: 180px;
  height: 50px;
  margin: 0;
}

.promocode-form {
  padding: 3px;
  height: 50px;
}

.promocode-label {
  color: #ff9948;
  text-transform: uppercase;
  font-size: 80%;
  cursor: pointer;
  display: none;
}

.promocode-label:hover {
  color: black;
}

.promocode-text-input-wrapper {
  border-radius: 4px;
  width: 115px;
  height: auto;
  margin: 0;
  padding: 0;
}

.promocode-text-input-wrapper, .promocode-button, .promocode-applied-marker {
  display: inline-block;
}

.promocode-text-input-wrapper input[type=text] {
  font-size: 75%;
  background-color: #fff;
  border-style: none;
  border: 1px solid;
  border-radius: 4px;
  margin: 0;
  padding: 6px;
  vertical-align: bottom;
  display: none;
}

.promocode-button {
  border-radius: 4px;
  padding: 9px 7px;
  vertical-align: bottom;
  border-style: none;
  border: 1px solid;
  text-transform: uppercase;
  color: #ff9948;
  cursor: pointer;
  display: none;
}

.promocode-applied-marker {
  display: none;
}

.promo-code-wrapper, .verify-total-wrapper {
  display: inline-block;
  margin: 10px 0;
  vertical-align: top;
}

.verify-total-wrapper {
  width: 140px;
  height: 80px;
  margin-left: 5px;
  padding: 2px;
}

.shopping-cart-checkout {
  border: 1px solid;
  border-radius: 4px;
  padding: 15px 60px;
  text-decoration: none;
  text-transform: uppercase;
}

.shopping-cart-checkout:hover {
  color: #f3f2f2;
  background-color: #538;
}

/*# sourceMappingURL=main.css.map */
